@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/font-awesome/css/font-awesome.min.css';

@import 'vars';
@import 'layout';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// Components
.chart > div {
  font: 10px sans-serif;
  background-color: black;
  text-align: right;
  padding: 3px;
  margin: 1px;
  // color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 10em;
  min-height: 6em;
}

// .chart > div:first-child{
//     display: flex;
//     justify-content: flex-start;
// }
//
.ratio {
    display: flex;
    font-size: 1.5em;
    color: yellow;
    padding-left: 0.5em;
    flex: 0;
}
.value {
    display: flex;
    font-size: 1.5em;
    padding-right: 0.5em;
    color: white;
    flex: 0;
}
//
// .value {
//     justify-content: flex-end;
// }
// Views
